<nav class="relative flex text-xs items-center no-underline justify-between">
  <a class="font-bold no-underline text-white xl:text-xl" routerLink="/">ITHOBEKILE.IO</a>

  <ul class="flex items-center text-xs no-underline font-normal md:text-xs xl:text-md" style="list-style: none;">
    <li class="mx-4 font-normal"><a class="no-underline" style="list-style: none;" routerLink="/">Home</a></li>
    <li class="mx-4 font-normal"><a class="no-underline" style="list-style: none;" href="">Pricing</a></li>
    <li class="mx-4 font-normal"><a class="no-underline" style="list-style: none;" href="">About us</a></li>
    <li class="ml-12 mr-2 no-underline rounded-[5rem] bg-white px-8 py-3 font-medium text-scorpion shadow-lg">
      <a class="no-underline list-none" routerLink="/login" style="list-style: none;">Login</a>
    </li>
    <li class="rounded-[5rem] no-underline bg-white bg-opacity-30 px-8 py-3 font-medium shadow-sm">
      <a class="no-underline" routerLink="/register">Sign Up</a>
    </li>
  </ul>
</nav>

