<h1 mat-dialog-title>View Question</h1>
<div mat-dialog-content>
  <app-view-question [question]="data.question" [isModal]="true"></app-view-question><br /><br />

  <!-- <app-expansion-panel panelTitle="Video tutorial"> 
    <app-video-player [videoSrc]="'https://wcedonline.s3.af-south-1.amazonaws.com/Video-storage/' + data.question.id + '.mp4'"></app-video-player>
  </app-expansion-panel> -->
<!-- 
  <mat-form-field style="width: 100%;">
    <mat-label>What's your Whatsapp number</mat-label>
    <input matInput [(ngModel)]="data.number" />
  </mat-form-field> <br/>
  <button mat-button (click)="sendWhatApp()" [mat-dialog-close]="" cdkFocusInitial>
    Send Whatsapp
  </button> -->
</div>
