section {
    margin: 10px 3vw;
}
.subClass {
    margin-left: 20px;
    padding: 5px
}
.mainClass {
    padding: 5px
}
.answer {
    padding: 10px;
    text-align: center
}

mat-spinner {
    height: 25px !important
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    font-size: 18px;
}

table tbody tr:nth-child(even) {
    background-color: #f2f2f2
}

table tbody tr td {
    padding: 10px;
    text-align: center
}