<h1 mat-dialog-title>Upload image</h1>
<div mat-dialog-content>
    <div class="display">
        @if (img_url) {
            <img [src]="img_url" alt="">
        }
        @if (uploading) {
            <mat-spinner></mat-spinner>
        }
    </div>
    
    <div>
        <!-- <mat-form-field> -->
            <!-- <mat-label>Upload image</mat-label> -->
            <input [disabled]="uploading" mat-raised-button color="primary" aria-label="Hello" type="file" (change)="getFileFromComputer($event)"> 
            <!-- </mat-form-field> -->
    </div> <br> OR <br>
        
    <mat-form-field>
        <mat-label>Paste Image or Enter URL</mat-label>
        <input [disabled]="uploading" matInput [(ngModel)]="img_url" (paste)="onPaste($event)">
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button [mat-dialog-close]="img_url ?? ''" cdkFocusInitial>Insert image</button>
</div>