/* You can add global styles to this file, and also import other style files */


/*@tailwind base;*/ /* FIXME: tailwind and material styles conflicting */
@tailwind components;
@tailwind utilities;

/* FIXME: tailwind and material styles conflicting */
/*@layer base {*/
/*    html,*/
/*    body {*/
/*        @apply h-full;*/
/*    }*/
/*    body {*/
/*        font-family: Poppins, Roboto, "Helvetica Neue", sans-serif;*/
/*        @apply m-0;*/
/*    }*/
/*}*/

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
img {
    max-width: 100% !important;
}
video {
    max-width: 100% !important;
}
